@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

@keyframes photoAnimation {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.07);
  }
}

.bigDiv {
  max-width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .leftArrow {
    position: absolute;
    right: 57px;
    bottom: 24px;
    z-index: 99999;
    width: 42px;
    height: 42px;
    background-color: #444631;
    cursor: pointer;
    .left {
      text-align: center;
      font-size: 43px;
      color: #ffffff;
    }
  }

  .leftArrow:hover {
    background-color: #353727;
  }
  .rightArrow {
    position: absolute;
    right: 10px;
    bottom: 24px;
    z-index: 99999;
    width: 42px;
    height: 42px;
    background-color: #444631;
    cursor: pointer;
    .right {
      text-align: center;
      font-size: 43px;
      color: #ffffff;
    }
  }
  .slide {
    transition: 2s ease;
    opacity: 0.2;
  }
  .active {
    opacity: 1;
    transition: 2s ease;
  }
  .rightArrow:hover {
    background-color: #353727;
  }

  img {
    // width: 100%;
    object-fit: cover;
    animation: photoAnimation 15s infinite alternate;
  }
  .mainDiv {
    position: absolute;
    left: 5%;
    top: 30%;
    h2 {
      color: white;
      line-height: 1.5;
      font-size: 40px;
      font-weight: 30;
    }
    p {
      padding-top: 20px;
      color: #ffffff;
      width: 50%;
      line-height: 1.7;
      font-size: 1.1em;
    }
    .btn {
      background-color: #444631;
      display: flex;
      justify-content: center;
      color: #ffffff;
      margin-top: 10px;
      width: 150px;
      height: 50px;
      align-items: center;
      padding-left: 15px;
      border: none;
      cursor: pointer;
      .shopBtn {
        font-size: 11px;
        padding: 0;
        width: 75px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}
.btn:hover {
  background-color: #212121;
}
